<div class="card">
    <div class="content">
        <div class="header">
            {{@task.title}}
        </div>
        <div class="meta">
            <span>By {{@task.authorid.name}}</span>
            <span>&mdash;</span>
            <span>Due {{moment-from-now @task.dueDate}}</span>
        </div>
        <div class="description">
            {{@task.description}}
        </div>
    </div>
    <div class="extra content">
        {{#if (eq @task.status "pending")}}
            <div class="ui three buttons">
                <div class="ui basic green button" {{action "toggleModalTaskComplete" @task}}>
                    <i class="small middle aligned icon check"></i>
                </div>
                <div class="ui basic blue button" {{action "toggleModalTaskEdit" @task}}>
                    <i class="small middle aligned icon pen"></i>
                </div>
                <div class="ui basic red button" {{action "toggleModalTaskDelete" @task}}>
                    <i class="small middle aligned icon trash"></i>
                </div>
            </div>
        {{else}}
            <span>Completed on ..</span>
        {{/if}}
    </div>
</div>

<div class="ui modal form" id="modal-delete-task-{{@task.id}}">
  <i class="close icon"></i>
  <div class="header">
    Delete Task
  </div>
  <div class="content">
    <p>Are you sure you would like to delete '{{@task.title}}'?</p>
  </div>
  <div class="actions">
    <button class="ui black deny button" type="button">
      Cancel
    </button>
    <button class="ui negative right button" type="button" {{action "deleteTask" @task}}>
      Delete
    </button>
  </div>
</div>

<div class="ui modal form" id="modal-error-task-{{@task.id}}">
  <i class="close icon"></i>
  <div class="header">
    Error!
  </div>
  <div class="content">
    <p>Failed to update Task due to..</p>
    <p>{{this.taskError}}</p>
  </div>
  <div class="actions">
    <button class="ui black deny button" type="button">
      Ok
    </button>
  </div>
</div>